.navbar{
	background-color: #AAAE7F !important;
	color: white !important;
}

.page-footer{
	background-color: #AAAE7F;
	margin-top: 20px;
}

/*.formularioo{
	background-color: #F96E46;
	width:700px;
}*/

/*.navbar-brand{
	width: 70px;
}*/